* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1f5fd1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container {
  background: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #1f5fd1;
  border-radius: 5px;
}

button {
  background: #1f5fd1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #174bb0;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #cfe5e8;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: #1f2a90;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
}
